.o_spreadsheet_oca_container {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-flow: column;
    height: 100%;
    .o_spreadsheet_oca_name {
        border: none;
        padding: 0px 5px 0px 2px;
        color: $breadcrumb-active-color;
        border-color: var(--o-input-border-color);
        &:focus {
            border: $input-border-width solid var(--o-input-border-color);
            border-width: 0 0 $input-border-width 0;
            @include print-variable(o-input-border-color, $o-brand-primary);
            @include print-variable(o-caret-color, $o-brand-primary);
        }
    }
    .o_spreadsheet_oca_name_warning {
        font-size: 0.8em;
    }

    .o_spreadsheet_oca_datasource_panel {
        padding: 16px;
        .o_spreadsheet_oca_datasource_panel_field {
            .o_spreadsheet_oca_datasource_panel_field_title {
                font-weight: bold;
            }
        }
    }
    .o_spreadsheet_oca_pivot_panel_info {
        font-style: italic;
        color: $o-gray-600;
    }
    .o_spreadsheet_oca_filter {
        padding: 16px;
        .spreadsheet_oca_filter_label {
            font-weight: bold;
        }
        .spreadsheet_oca_filter_value {
            display: flex;
            .o_field_widget {
                width: 100%;
                .o_field_tags {
                    width: 100%;
                }
            }
            .o_field_selector {
                width: 100%;
            }
            .spreadsheet_oca_filter_value_edit {
                width: 15px;
                margin-left: 1rem;
                padding: 0;
                cursor: pointer;
            }
        }
    }
    .o-section-value {
        .o_field_many2one_selection {
            width: 100%;
        }
    }
}
